html
    height: 100%

body
    height: 100%

#root 
    height: 100%

.Desktop
    background-color: #ffcf4f
    height: 100%
    width: 100%

.DesktopInside
    background-color: #ffcf4f
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.ong
    background-color: #ffff
    min-height: 80%
    width: 70%
    display: flex

.leftHalf
    margin-left: 1%
    width: 50%
    display: flex
    flex-direction: column

.leftHalf > div
    margin: 2%

.rightHalf
    width: 50%
    display: flex
    flex-direction: column
    align-items: center

.ongLogo
    min-width: 70%
    height: auto
    max-height: 40%

.adressAndPhone
    display: flex

.adress
    width: 50%
    margin-right: 2%
    display: flex
    align-items: center

.phone
    display: flex
    align-items: center
    width: 50%

.fieldsContainer
    height: 14%

.fieldBox
    border: 1px solid black
    width: 100%
    display: flex
    height: 45%
    margin-bottom: 2%

.fieldIcon
    background-color: #e9ecef
    min-width: 10%
    border-right: 1px solid black
    display: flex
    align-items: center
    justify-content: center
    padding-left: 5px
    padding-right: 5px

.fieldInfo
    display: flex
    align-items: center
    padding: 10px

.donationInfo
    display: flex
    align-items: center
    flex-direction: column
    width: 80%



.divButtons
    display: flex
    justify-content: center


.iconButton
    min-height: 50
    min-hidth: 50
    height: 50
    width: 50
    margin: 10

.facebookBorder
    border-color: #3b5998


.center
    display: flex
    flex-direction: column
    align-items: center
    align-self: center
    margin: auto

.PicPayBorder
    border-color:#11C76F

.icon
    height: 2.3em !important
    width: 2.3em !important
    align-self: center

.backButton
    margin: 1%
    position: fixed
    display: flex
    align-items: center
    justify-content: center
    background-color: #4272d7

    padding-right: 1%
    padding-top: 0.5%
    padding-bottom: 0.5%
    border-radius: 400px