
@media screen and (min-width: 700px) {
    .gridCard{
      justify-content: left;
    }
.gridInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }

.card-55 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  }

.card-55 .card-heading1 {
    padding: 20px 0;
    background: #FFCF4F;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
  }

.title1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color:black;
  }

.subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color:black;
    font-weight: bold;
  }

  .info1 {
    font-size: 14px;
    text-align: justify;
    color: black;
    padding-bottom: 1.5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    
}

.p-t-20 {
    padding-top: 20px;
  }

  .p-b-20 {
    padding-bottom: 20px;
  }